name: bats

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

env:
  GO_VERSION: "1.23"
  K8S_VERSION: "v1.32.0"
  KIND_VERSION: "v0.26.0"
  REGISTRY: registry.k8s.io
  IMAGE_NAME: networking/nat64
  KIND_CLUSTER_NAME: kind

jobs:
  bats_e2e_tests:
    runs-on: ubuntu-latest
    name: Bats e2e tests
    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - name: Enable ICMP
        shell: bash
        run: |
          echo 'net.ipv4.ping_group_range = 0 2147483647' | sudo tee -a /etc/sysctl.conf
          sudo sysctl -p
      - name: Setup Bats and bats libs
        id: setup-bats
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1
      - name: Bats tests
        shell: bash
        env:
         BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
         TERM: xterm
        run: mkdir -p _artifacts && bats -o _artifacts tests/e2e/

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: kind-logs-${{ env.JOB_NAME }}-${{ github.run_id }}
          path: ./_artifacts
 
  bats_integration_tests:
    runs-on: ubuntu-latest
    name: Bats integrations tests
    steps:
      - name: Checkout
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - name: Setup Bats and bats libs
        id: setup-bats
        uses: bats-core/bats-action@42fcc8700f773c075a16a90eb11674c0318ad507 # 3.0.1
      - name: Set up environment
        shell: bash
        run: |
          echo 'net.ipv4.ping_group_range = 0 2147483647' | sudo tee -a /etc/sysctl.conf
          sudo sysctl -p
          sudo apt-get install socat
      - name: Bats tests
        shell: bash
        env:
         BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
         TERM: xterm
        run: mkdir -p _artifacts && bats -o _artifacts tests/integration/

      - name: Upload logs
        if: always()
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: integration-logs-${{ env.JOB_NAME }}-${{ github.run_id }}
          path: ./_artifacts
