name: Test

on: [push, pull_request]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.25.x]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5
      with:
        go-version: ${{ matrix.go-version }}
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
    - run: sudo make test
    - run: make lint

